name: Geowar Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install app dependencies client
        working-directory: ./client
        run: npm install

      - name: Build Game client
        working-directory: ./client
        run: npm run build

      - name: Install app dependencies electron
        working-directory: ./electron
        run: npm install

      - name: build electron app
        working-directory: ./electron
        run: npm run build-app

      - name: Build/release Electron app
        uses: samuelmeuli/action-electron-builder@v1
        with:
          # GitHub token, automatically provided to the action
          # (No need to define this secret in the repo settings)
          github_token: ${{ secrets.github_token }}

          # If the commit is tagged with a version (e.g. "v1.0.0"),
          # release the app after building
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}

          package_root: ./electron